
<div class="upper-wrap large-12 columns large-centered"  >
		
    <header id="header">
      <div class="row">
      
      </div>
    </header>
    <!-- End Header -->

  <nav class="row hide-for-small transbox">
  
      <ul class="nav-bar">
        <li>
          <a class="on" href="index.php">Home</a>
        </li>
        <li>
          <a  href="games.php">Games</a>
        </li>
        <li>
          <a  href="concept-art.php">Concept Art</a>
        </li>
        <li>
          <a  href="work-with-us.php">Work With Us</a>
        </li> 
        <li>
          <a href="http://www.fluidwebstudio.com/stormsiege/cms/">Forum</a>
        </li> 
       
      </ul>        
      <div class="nav-border"></div>
	
	 
    </nav>

	<div class="row">

		<div class="large-3 columns">
		<h1><img src="images/PhatStats.png"/></h1>
		</div>
	</div>
	
	<div class="row">
		
		<div class="multiple-items">
				<ul class="small-block-grid-3" align="center">
					<li></li>
					<li><img src="images/ray_lewis.jpg" alt="image1"></li>
				</ul>
				<ul class="small-block-grid-3">
					<li></li>
					<li><img src="images/ray_lewis.jpg" alt="image1"></li>
				</ul>
				<ul class="small-block-grid-3">
					<li></li>
					<li><img src="images/ray_lewis.jpg" alt="image1"></li>
				</ul>
				<ul class="small-block-grid-3">
					<li></li>
					<li><img src="images/ray_lewis.jpg" alt="image1"></li>
				</ul>
				<ul class="small-block-grid-3">
					<li></li>
					<li><img src="images/ray_lewis.jpg" alt="image1"></li>
				</ul>
		</div>
		
	</div>
	
	<div class="large-12 medium-4 columns">
			<div class="row">
	        	<div class="large-4 medium-4 small-centered columns">
	    		 <ul class="nav nav-pills pull-center">
					 <form action="" class="search-form frame inbtn rlarge transbox">
						<input type="text" id="textInput" ng-model="keywords" ng-keyup="search()"  class="search-input" placeholder="Search..." />
						<ul id="results" ng-show="keywords" ng-if="keywords.length > 2" ng-repeat="player in playersList | filter: searchFilter " ng-cloak><li><a href="#/home/{{ player.displayName }} {{ player.position }} {{ player.team }}"><font color="#16d6d6">{{ player.displayName }}&nbsp;{{ player.position }}&nbsp;{{ player.team }}</font></a></li></ul>      
						
					</form> 
			    </ul>

				</div>
	        	 
			</div>
      	
     
    </div>
     

		 <!--sportsticker directive-->
        <div ng-app="sportsTickerDemo" ng-controller="TickerFeedCtrl">
            <sportsticker feed="feed" message-delay="4000" scroll-speed-factor="6.25"></sportsticker>
        </div>
		<!--div class="ticker1" id="outPopUp">
			<div class="innerWrap"  >
				<ul   id="news" > 
			</div>
		</div-->

	</div>
		
		